async-timeout==4.0.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-Cors==4.0.0
idna==3.6
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
Pillow==8.4.0
pyparsing==3.1.1
python-dotenv==0.20.0
pytz==2024.1
redis==4.3.6
requests==2.27.1
selenium==3.141.0
soupsieve==2.3.2.post1
typing_extensions==4.1.1
urllib3==1.26.18
webdriver-manager==3.7.1
Werkzeug==2.0.3
XlsxWriter==3.1.9
zipp==3.6.0
